@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      max-width: 80%;
      margin-right: 2rem;
    }
  }
/* table-card  */
.table-card{
    padding: 1.5rem;
    margin: 1rem;
  }
  .table>:not(:last-child)>:last-child>* {
      border-bottom-color: currentColor;
  }

.card-body.form-card-body {
    overflow: scroll;
}