<!-- offcanva  -->     
<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <nav class="navbar-dark">
            <ul class="navbar-nav">

                <li>
                    <a class="nav-link px-3"><span><i class="bi bi-speedometer2 me-3"></i></span><span>Dashboard</span></a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <span><i class="bi bi-people me-2"></i></span>Employee<span class="right-icon ms-auto"><i class="bi bi-chevron-down ms-3"></i></span>
                    </a>
                    <div class="collapse" id="collapseExample1">
                        <div class="child-field">
                        <ul class="navbar-nav">
                          <li>
                              <a routerLink="addemp" class="nav-link ps-5"><span>Add Employee</span></a>
                          </li>
                          <li>
                              <a routerLink="searchemp" class="nav-link ps-5"><span>Search Employee</span></a>
                          </li>
                        </ul>
                        </div>
                    </div>                              
                </li>

                <li>

                  <div class="collapse" id="collapseExample2">
                      <div class="child-field">
                      <ul class="navbar-nav">
                        <li>
                            <a href="./batch1.html" class="nav-link ps-5"><span>Admin Holidays</span></a>
                        </li>
                        <li>
                            <a href="" class="nav-link ps-5"><span>Employee Holidays</span></a>
                        </li>
                      </ul>
                      </div>
                  </div>                              
              </li>

              <li>
                <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span><i class="bi bi-calendar-check me-2"></i></span>Leave<span class="right-icon ms-auto"><i class="bi bi-chevron-down ms-3"></i></span>
                </a>
                <div class="collapse" id="collapseExample4">
                    <div class="child-field">
                    <ul class="navbar-nav">
                      <li>
                          <a href="./batch1.html" class="nav-link ps-5"><span>Leave Admin</span></a>
                      </li>
                      <li>
                          <a href="" class="nav-link ps-5"><span>Leave Emloyee</span></a>
                      </li>
                    </ul>
                    </div>
                </div>                              
              </li>

              <li>
                <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span><i class="bi bi-calendar-check me-2"></i></span>Projects<span class="right-icon ms-auto"></span>
                </a>                             
              </li>

              <li>
                <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span><i class="bi bi-calendar-check me-2"></i></span>Clients<span class="right-icon ms-auto"></span>
                </a>                             
              </li>

              <li>
                <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span><i class="bi bi-calendar-check me-2"></i></span>Pay roll<span class="right-icon ms-auto"><i class="bi bi-chevron-down ms-3"></i></span>
                </a>
                <div class="collapse" id="collapseExample7">
                    <div class="child-field">
                    <ul class="navbar-nav">
                      <li>
                          <a href="./batch1.html" class="nav-link ps-5"><span>Payroll Run</span></a>
                      </li>
                      <li>
                          <a href="" class="nav-link ps-5"><span>Pay Slip</span></a>
                      </li>
                      <li>
                        <a href="" class="nav-link ps-5"><span>Congfiguration</span></a>
                      </li>
                      <li>
                        <a href="" class="nav-link ps-5"><span>Pay Report</span></a>
                      </li>
                    </ul>
                    </div>
                </div>                              
              </li>

              <li>
                <a class="nav-link sidebar-link px-3" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <span><i class="bi bi-calendar-check me-2"></i></span>Attendance<span class="right-icon ms-auto"><i class="bi bi-chevron-down ms-3"></i></span>
                </a>
                <div class="collapse" id="collapseExample8">
                    <div class="child-field">
                    <ul class="navbar-nav">
                      <li>
                          <a href="./batch1.html" class="nav-link ps-5"><span>Payroll Run</span></a>
                      </li>
                      <li>
                          <a href="" class="nav-link ps-5"><span>Pay Slip</span></a>
                      </li>
                      <li>
                        <a href="" class="nav-link ps-5"><span>Congfiguration</span></a>
                      </li>
                      <li>
                        <a href="" class="nav-link ps-5"><span>Pay Report</span></a>
                      </li>
                    </ul>
                    </div>
                </div>                              
              </li>

            </ul>
        </nav>
    </div>
  </div>